---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
//import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
//import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'SaaS Landing Page',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Solicitar Orçamento',
          href: 'https://wa.me/5514998434192?text=Ol%C3%A1,%20gostaria%20de%20solicitar%20um%20or%C3%A7amento!',
          icon: 'tabler:brand-whatsapp',
        },
      ]} 
      isSticky
    /> 
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="20 anos de experiência"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Nossas Obras', href: '#' },
      { text: 'Sobre Nós', href: '#' },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/323775/pexels-photo-323775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Casa com Fachada de Vidro',
    }}
>
    <Fragment slot="title">
   <span class="text-accent dark:text-white highlight">Destak Vidros e Esquadrias</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      Transforme seu espaço com nossos serviços premium de vidro e alumínio!
      Dê à sua casa ou empresa um toque de modernidade e sofisticação. Peça um orçamento e veja como podemos transformar sua visão em realidade!
      </span>
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Por que escolher a gente?"
    columns={2}
    items={[
      {
        title: 'Experiência',
        description:
          'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod?',
        icon: 'tabler:school',
      },
      {
        title: 'Qualidade incomparavel',
        description: `loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod? loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod?`,
        icon: 'tabler:sparkles',
      },
      {
        title: 'Dedicação total em cada projeto',
        description:
          `loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod? loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod?`,
        icon: 'tabler:writing',
      },
      {
        title: 'Suporte e Garantia',
        description: 'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod?',
        icon: 'tabler:certificate',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Nossos Serviços" 
    subtitle="Transforme seus espaços com segurança e estilo incomparáveis!"
    isReversed
    items={[
      {
        title: 'Descrição:',
        description:
          'Are you a startup with big dreams? AstroWind propels your success. Our template forges a seamless online presence, attracting investors and customers from day one. Astro 5.0 and Tailwind CSS ensure striking, responsive sites, leaving lasting impressions. Countless startups leverage AstroWind to kickstart their journey and resonate with audiences.',
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1680001183654-e6783b7527c5?q=80&w=1227&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Vidros temperados e laminados  <br />para segurança e estilo:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Descrição:',
        description: `For SaaS businesses, user experience is key. AstroWind enhances showcasing SaaS solutions intuitively. The template's Astro 5.0 and Tailwind CSS integration guarantees user-friendly experience, mirroring your software's efficiency. Customize pages to communicate SaaS value and solutions for your audience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1682430199812-02311b024775?q=80&w=1253&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Imagem de Guarda-corpos',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Guarda-corpos de vidro modernos e seguros :
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Descrição:',
        description: `Your portfolio is your masterpiece, and AstroWind is your canvas. Whether you're a designer, photographer, artist, or any other creative professional, AstroWind empowers you to showcase your work with elegance and sophistication. Tailored to highlight your creative projects, AstroWind's templates offer a visually immersive experience that lets your portfolio shine.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1497366754035-f200968a6e72?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Portas e janelas de vidro   <br />para um visual contemporâneo:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Descrição:',
        description: `For small businesses, a well-crafted website can be a game-changer. AstroWind empowers small businesses to not only establish a credible online presence but also convert visitors into loyal customers. The template's thoughtful design and optimization features ensure that your website doesn't just attract attention but also guides visitors through a seamless journey, ultimately leading to conversions.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1674035037148-64f85b35eecd?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Boxes de banheiro elegantes e duráveis  <br />para segurança e estilo:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Descrição:',
        description: `Your portfolio is your masterpiece, and AstroWind is your canvas. Whether you're a designer, photographer, artist, or any other creative professional, AstroWind empowers you to showcase your work with elegance and sophistication. Tailored to highlight your creative projects, AstroWind's templates offer a visually immersive experience that lets your portfolio shine.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1543068363-cf047c34ebfb?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Esquadrias de alumínio sob medida  <br />com acabamento perfeito:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* 

  <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'free',
        subtitle: 'Access to core features and a wide range of templates',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Premium templates and advanced customization',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />
-->
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Dúvidas Frequentes"
    items={[
      {
        title: 'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod?',
        description:
          'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod? loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod?',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod?',
        description:
          'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod? loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod?',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod?',
        description:
          'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod? loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod?',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod?',
        description:
          'loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod? loren ipsum dolor sit amet consectetur adipisicing elit. Iure, quas. Quisquam, quod? Quisquam, quod? Quisquam, quod?',
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Entre em contato conosco"
    subtitle="Tem perguntas? Sinta-se à vontade para entrar em contato conosco usando o formulário abaixo. Estamos aqui para ajudar!"
    callToAction={{
      text: 'Cotate-nos',
      href: 'https://wa.me/5514998434192?text=Ol%C3%A1,%20gostaria%20de%20Tirar%20uma%20d%C3%BAvida!',
      icon: 'tabler:brand-whatsapp',
    }}
    items={[
      {
        title: 'Nos envie um email',
        description: 'destakvidros@email.com.br',
        icon: 'tabler:mail',
      },
      {
        title: 'Ligue para nós',
        description: '+55 (14) 1234-5678',
        icon: 'tabler:headset',
      },
      {
        title: 'Nos siga no Instagram',
        description: '@destakvidrosbauru',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** 

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>-->
</Layout>
